{
    "printWidth": 80,
    "singleQuote": false,
    "trailingComma": "all",
    "useTabs": false,
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "endOfLine": "auto",
    "semi": true,
    "plugins": ["prettier-plugin-tailwindcss"]
}